/* Add your custom CSS styles here - CSS will auto-reload, SCSS will not */

.good {
    background-color: #dbffd9
}

.bad {
    background-color: #ffd9d9
}

.dataframe {
    font-family: Arial;
    font-size: 12px;
}

.dataframe th {
    font-size: 14px;
}